.container {
    max-width: 1000px;
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 25px;
    background-color: rgba(167, 167, 167, 0.18);
}

.container a:link{
    color: yellow;
}

.container a:visited {
    color: orange;
}

.container a:active {
    color: rgb(255, 115, 0);
}

.container h1 {
    font-weight: 300;
}

.title { 
    text-align: center;
    font-weight: 00;
}


.heading {
    color: black;
}

.banner {
    width: 90vw;
    height: 20vh;
}

.email-text {
    color: rgb(from color .097, .214, .450);
}

@media (max-width: 768px) {
    .mobile-player {
        border: 0;
        width: 340px;
        height: 470px;
    }

    .player {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}