.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2pt;;
}

.bottom-bar-text {
    text-align: center;
    font-size: 12px;
    width: fit-content;
    background-image: url('../images/NAVY.jpg');
    margin: auto;
}

.link-text {
    text-decoration: none;
    color: white;
}