.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url('../images/NAVY_bar.png');
    display: flex;
}

.bottom-bar-text {
    margin: auto;
}

.bottom-bar-text.mobile {
    padding: 5px 0 5px 0;
}

.link-text {
    text-decoration: none;
    color: white;
}