.player-container {
    display: flex;
    gap: 2vh;
    justify-content: space-around;
}

.banner {
    margin: 10vh;
}

.buy-link {
    font-style: oblique;
}


.buy-link:link { text-decoration: none; }

.buy-link:visited { text-decoration: none; }

.buy-link:hover { text-decoration: none; }

.buy-link:active { text-decoration: none; }

@media (max-width: 768px) {
    .banner {
        margin: 0;
    }
}
