.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-link-text {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    li {
        width: 28vw;
        text-align: center;
    }

    .nav-links {
        justify-content: space-around;
        font-weight: 500;
        font-size: 16pt;
    }

    .nav-link-item {
        padding: 0;
    }

    .special-text {
        font-size: 12pt;
    }
}
