.player-container {
    display: flex;
    gap: 2vh;
    justify-content: space-around;
}

.player {

}

.banner {
    width: 90vw;
    height: 20vh;
}

.buy-link-wrapper {
    color: white;
    font-style: oblique;
    text-align: center;
}

.link-text {
    text-decoration: none;
    color: white;
}

.band-camp-player {
    border: 0; 
    width: 600px; 
    height: 274px;
}

.buy-link:link { text-decoration: none;
    color: white;
}

.buy-link:visited { text-decoration: none; color: white; }

.buy-link:hover { text-decoration: none; color: white;}

.buy-link:active { text-decoration: none; color: white;}
