.banner {
    width: 90vw;
    height: 20vh;
}

.players-container {
    gap: 2vh;
    width: fit-content;
    margin: 20px auto 20px auto;
}

.player {
    margin-top: 50px;
    margin-bottom: 70px;
}

.buy-link-wrapper {
    color: white;
    font-style: oblique;
    text-align: center;
}

.link-text {
    text-decoration: none;
    color: white;
}

.band-camp-player {
    border: 0; 
    width: 600px; 
    height: 274px;
}

.buy-link:link { text-decoration: none; color: white;
}

.buy-link:visited { text-decoration: none; color: white; }

.buy-link:hover { text-decoration: none; color: white;}

.buy-link:active { text-decoration: none; color: white;}

@media (max-width: 768px) {
    .mobile-player {
        border: 0;
        width: 340px;
        height: 470px;
    }

    .player {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
