.row {
    display: flex;
}
  
.column {
    flex: 50%;
    margin: 10px;
}   

.post {
    border-style: dashed;
    margin: 10px;
    margin-bottom: 40px;
    padding: 5px;
}

.title {
    text-align: center;
}

.container {
    margin: auto;
    max-width: 1000px;
}

.heading {
    color: black;
}

/* .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  } */

.email-text {
    color: rgb(from color .097, .214, .450);
}